* {
    padding:0;
    margin:0;
    font-size:100%;
    font-family: 'Segoe UI'; 
}

a {
    text-decoration: none;
}

/*body {
    text-align: center;
    padding-top: 30px;
}*/

main a {
    color:#ffffff;
    background-color:#0094ff;
    padding:10px 20px;
    font-size: 30px;
}

#main a:hover {
    background: #00528e;
}

/* Ventana */
#ventanaModal {
    opacity:0;
    pointer-events:none;
    background: rgba(0, 0, 0, 0.7);
    width:100%;
    position: fixed;
    top: 0px;
    bottom:0px;
    transition: all ease 0.5s;
}

#ventanaModal:target {
    opacity: 1;
    transition: all ease-in 0.5s;
    pointer-events: all;
}

#contenido {
    background: #fff;
    border-radius: 10px;
    box-shadow: #000 0px 0px 20px;
    border: 2px solid #0094ff;
    width: 60%;
    margin: 5% auto;
    padding: 20px;
}

#contenido h2 {
    font-size:30px;
    color:#0004ff;
    margin-bottom:10px;
}

#contenido p {
    font-size: 20px;
    line-height:30px;
    color:#333;
    width:90%;
    margin:auto;
}

#contenido a {
    background:#ff0000;
    color:#fff;
    position:absolute;
    margin-top:10px;
    margin-right:10px;
    padding:5px;
}